* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}
/* nav-section */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #252b38;
  /* height: 70%; */
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo p {
  color: #fff;
  font-weight: 400;
}
.logo img {
  width: 35px;
}

.nav-link ul {
  display: none;
}

/* the nav slide */
#mobile-nav {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
#mobile-nav.visible {
  transform: translateX(0);
}

/* Icon toggling */
.icon-wrapper {
  display: block;
}
.menu-icon svg {
  display: block;
}
.menu-icon.show-hamburger #hamburger-icon {
  display: block;
}
.menu-icon.show-close #close-icon {
  display: block;
}

/* add css */
/* Hide both icons by default */
#hamburger-icon,
#close-icon {
  display: none;
}

/* Show hamburger initially */
.menu-icon.show-hamburger #hamburger-icon {
  display: block;
}

/* Show close icon when nav is visible */
.menu-icon.show-close #close-icon {
  display: block;
}

.nav-ul.active {
  display: block;
  margin: 20px;
}
.nav-ul.active li {
  /* background-color: #0469e0; */
  padding: 12px 6px;
  list-style: none;
}
.nav-ul.active li:hover {
  background-color: #0469e0;
  /* padding: 5px; */
  border-radius: 4px;
}

.nav-ul.active a {
  color: #fff;
  text-decoration: none;
}
.tuggle1 {
  cursor: pointer;
}

.tuggle2 {
  display: none;
}
.toggle2 {
  display: flex;
  flex-direction: row;
  width: 10px;
}
.toggle2 ul li img {
  width: 30px;
  align-items: center;
}
.toggle2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
}

.social-icons {
  list-style: none; /* remove bullets */
  padding: 0;
  margin: 0 auto 15px;
  display: flex; /* arrange in a row */
  justify-content: center; /* center horizontally */
  gap: 20px; /* spacing between icons */
}

.social-icons img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}
.footer {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .nav-bar {
    align-items: start;
  }
  .nav-ul.active {
    display: block;
    margin: 20px;
  }
  .nav-ul.active li {
    padding: 12px 10px;
    list-style: none;
  }
  .nav-ul.active li:hover {
    background-color: #0469e0;
    padding: 5px;
    border-radius: 4px;
  }

  #mobile-nav {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  #mobile-nav.visible {
    transform: translateX(0);
  }
  .menu-icon {
    display: none;
  }
  .tuggle {
    display: flex;
    gap: 30px;
  }

  /* .tuggle1 img {
    margin: 0 10px;
    height: 30px;
    width: 36px;
    cursor: pointer;
    display: none;
  } */

  .tuggle2,
  .tuggle2 ul {
    display: flex;
    gap: 25px;
    list-style: none;
  }
}
@media screen and (min-width: 1023px) {
  .nav-bar {
    padding: 15px;
    /* height: 70%; */
  }

  .nav-link ul {
    display: flex;
    padding: 20px 0;
    list-style: none;
    gap: 40px;
  }
  .nav-link a:hover {
    background-color: #0469e0;
    /* padding: 5px; */
    border-radius: 4px;
  }
  .nav-link a {
    text-decoration: none;
    color: #fff;
  }
  .nav-both {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }
  .menu-icon {
    display: none;
  }
  .tuggle1 {
    display: none;
  }
}

/* hero-section */
.hero {
  background-color: #0f1624;
  padding: 25px;
  margin-top: 20px;
}
.hero h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 28px;
  margin: 30px 0;
}
.hero p {
  color: #fff;
  font-weight: 600;
  margin: 30px 0;
}
.hero img {
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

button {
  background-color: #4e95e6;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
}
button a {
  text-decoration: none;
  /* background-color: #4e95e6; */
  cursor: pointer;
  color: #fff;
}
button:hover {
  background-color: #7fb7f7;
}
.top {
  margin-bottom: 30px;
}
.top.hide {
  display: none;
}

@media screen and (min-width: 1023px) {
  .hero {
    display: flex;
    gap: 10%;
    padding: 90px 10px 90px 70px;
    justify-content: space-between;
    align-items: center;
  }
  .hero h1,
  .hero p {
    padding-bottom: 15px;
  }
  .hero img {
    width: 80%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 40px 0 40px;
    justify-content: center;
    align-self: center;
  }
}

/* about-section */
.about {
  background-color: #ffffff;
  padding: 25px;
}
.about img {
  width: 100%;
  height: 400px;
  padding-top: 40px;
  padding-right: 0;
}
.about h2 {
  color: #222;
  margin: 20px 0;
}
.about p {
  color: #222;
  padding: 30px 0;
}

@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
    gap: 10%;
    padding-right: 0;
  }
}
@media screen and (min-width: 1023px) {
  .about {
    padding-left: 90px;
    gap: 25%;
  }
}
/* project-section */
.projects {
  padding: 25px;
  background-color: #fff;
}
.projects h2 {
  padding: 10px;
}
.card-row {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3%;
}
/* .btn {
  color: #0f1624;
  background-color: #ffffff;
  margin: 20px;
} */
.cards {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #0f1624;
  color: #ffffff;
  margin: 10px;
}
.cards img {
  width: 100%;
  border-radius: 20px;
  padding: 15px;
  align-items: center;
}
.cards h3 {
  padding: 5px;
  text-align: center;
}
hr {
  width: 70%;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  left: 40px;
  height: 5px;
  background-color: white;
}
.cards p {
  margin: 10px;
}

@media screen and (min-width: 768px) {
  hr {
    left: 90px;
  }
  .card-row {
    margin: 60px 0;
  }
}
@media screen and (min-width: 1023px) {
  .projects {
    padding: 0 90px;
  }
  .projects h2 {
    padding: 0;
  }

  .card-row {
    padding: 25px 50px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    margin: 0;
  }
  .cards img {
    height: 270px;
  }
  hr {
    width: 60%;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    left: 100px;
    height: 5px;
    background-color: white;
  }
}
/* skills-section */
.skills {
  /* background: #e4e1e1; */
  padding: 25px;
}
.skills h2 {
  padding: 10px;
}
.skills-grid ul {
  font-size: 20px;
  font-weight: 400;
  color: #222;
  margin: 25px;
}
@media screen and (min-width: 768px) {
  .skills-grid ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
  }
}
@media screen and (min-width: 1023px) {
  .skills {
    padding: 50px 90px;
  }
  .skills-grid ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px;
    gap: 0 100px;
  }
  .footer {
    display: flex;
    justify-content: center;
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    gap: 50px;
    font-size: 12px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between; /* spreads icons left, text right */
    align-items: center;
    gap: 40px;
    width: 100%;
  }

  .social-icons {
    list-style: none; /* remove bullets */
    padding: 0;
    margin: 0 auto 15px;
    display: flex; /* arrange in a row */
    justify-content: center; /* center horizontally */
    gap: 20px; /* spacing between icons */
  }

  .social-icons img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    transition: transform 0.2s ease;
  }

  .social-icons img:hover {
    transform: scale(1.1);
  }
}
/* experience-section */
.experience {
  padding: 25px;
}
.experience h2 {
  color: #222;
  padding: 10px;
}
.experience p {
  color: #222;
  padding: 30px 0;
}
@media screen and (min-width: 1023px) {
  .experience {
    padding: 50px 90px;
  }
}

/* footer section */
/* .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #535151;
  padding: 20px 0px;
  margin: 40px 0px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
} */
/* finshed */
