*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
}
/* nav-section */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: #0F1624;
    
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo p{
    color: #fff;
    font-weight: 400;
}
.logo img{
    width: 35px;
}

.nav-link ul{
    display: none;
}
.nav-link ul.active{
    display:flex;
}
.tuggle2{
    display: none;
}
@media screen and (min-width:768px){
.tuggle ul{
    display: flex;
    gap: 15px;
    list-style: none;
    }
.tuggle1{
    display: none;
}
.tuggle2{
    display: flex;
}
}
@media screen and (min-width:1023px){
    .nav-bar{
        padding: 30px;
    }
    .nav-link ul{
        display: flex;
        list-style: none;
        gap: 20px;
    }
    .nav-link a{
        text-decoration: none;
        color: #fff;
    }
    .nav-both{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 120px;
    }
}

/* hero-section */
.hero{
    background-color: #0F1624;
    padding: 25px;
    margin-top: 20px;
}
.hero h1{
    color: #FFFFFF;
    font-weight: 700;
    margin: 30px 0;
}
.hero p{
    color: #fff;
    font-weight: 600;
    margin: 30px 0;
}
.hero img{
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
button{
    background-color: #0469E0;
    color: #FFFFFF;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
}
.top{
    margin-bottom: 30px;
}

@media screen and (min-width:1023px){
.hero{
    display: flex;
    gap: 10%;
    padding: 90px 90px 70px;
}
.hero h1,.hero p{
    padding-bottom: 15px;
}
.hero img{
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 40px 0 40px;
    justify-content: center;
}
}

/* about-section */
.about{
    background-color: #FFFFFF;;
    padding: 25px;
}
.about img{
    width: 100%;
    height: 400px;
    padding-top: 40px;
    padding-right: 0;
}
.about h2{
    color:#393535;
    margin: 20px 0;
}
.about p{
    color: #797979;
    padding: 30px 0;
}
@media screen and (min-width:768px){
    .about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #FFFFFF;;
        gap: 10%;
        padding-right: 0;
    }
}
@media screen and (min-width:1023px){
    .about{
        padding-left: 90px;
        gap: 25%;
    }
}
/* project-section */
.projects{
 padding: 25px;
 background-color: #fff;
}
.projects h2{
    padding: 10px;
}
.card-row{
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5%;
}
.btn{
    color: #0F1624;
    background-color: #FFFFFF;
    margin: 20px;
}
.cards {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0F1624;
    color: #FFFFFF;
    margin: 10px;
}
.cards img{
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    align-items: center;
}
.cards h3{
    padding: 5px;
    text-align: center;
}
hr{
    width: 70%;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    left: 40px;
    height: 5px;
    background-color: white;
}
.cards p{
    margin: 10px;
}

@media screen and (min-width:768px){
hr{
    left: 90px;
}
.card-row{
    margin: 150px 0;
}
}
@media screen and (min-width:1023px){
.projects{
    padding: 0 90px;
}
    .projects h2{
        padding:25px 0;
    }
    
    .card-row{
    padding: 25px 50px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    margin: 0;
}
.cards img{
   height: 270px;
}
hr{
    width: 60%;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    left: 100px;
    height: 5px;
    background-color: white;
}
}
/* skills-section */
.skills{
    margin: 25px;
}
.skills-grid ul {
    font-size: 20px;
    font-weight: 400;
    color: #535353;
    margin: 25px;
    
}
@media screen and (min-width:768px){
    .skills-grid ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:0 20px;
    }
}
@media screen and (min-width:1023px){
    .skills{
        padding: 50px 90px;
    }
    .skills-grid ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 60px;
        gap: 0 200px;
    }
}
/* footer section */
footer{
    background-color: #F6F4F4;
    padding: 20px 0px;
    margin: 40px 10px;
    text-align: center;
    font-weight: 600;
}
/* finshed */
